# ===== #
# Unity #
# ===== #
/Library/*
/Temp/*
/obj/*
/Build/*
/Builds/*
/Assets/AssetStoreTools*

/Output
/Logs
.vs/



stack.exe
UnityCrashHandler64.exe
UnityPlayer.dll
WinPixEventRuntime.dll
MonoBleedingEdge/EmbedRuntime/mono-2.0-bdwgc.dll
MonoBleedingEdge/EmbedRuntime/MonoPosixHelper.dll
MonoBleedingEdge/etc/mono/browscap.ini
MonoBleedingEdge/etc/mono/config
MonoBleedingEdge/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx
MonoBleedingEdge/etc/mono/2.0/machine.config
MonoBleedingEdge/etc/mono/2.0/settings.map
MonoBleedingEdge/etc/mono/2.0/web.config
MonoBleedingEdge/etc/mono/2.0/Browsers/Compat.browser
MonoBleedingEdge/etc/mono/4.0/DefaultWsdlHelpGenerator.aspx
MonoBleedingEdge/etc/mono/4.0/machine.config
MonoBleedingEdge/etc/mono/4.0/settings.map
MonoBleedingEdge/etc/mono/4.0/web.config
MonoBleedingEdge/etc/mono/4.0/Browsers/Compat.browser
MonoBleedingEdge/etc/mono/4.5/DefaultWsdlHelpGenerator.aspx
MonoBleedingEdge/etc/mono/4.5/machine.config
MonoBleedingEdge/etc/mono/4.5/settings.map
MonoBleedingEdge/etc/mono/4.5/web.config
MonoBleedingEdge/etc/mono/4.5/Browsers/Compat.browser
MonoBleedingEdge/etc/mono/mconfig/config.xml
stack_Data/app.info
stack_Data/boot.config
stack_Data/globalgamemanagers
stack_Data/globalgamemanagers.assets
stack_Data/level0
stack_Data/resources.assets
stack_Data/resources.assets.resS
stack_Data/resources.resource
stack_Data/sharedassets0.assets
stack_Data/sharedassets0.assets.resS
stack_Data/sharedassets0.resource
stack_Data/Managed/Assembly-CSharp-firstpass.dll
stack_Data/Managed/Assembly-CSharp-firstpass.pdb
stack_Data/Managed/Assembly-CSharp.dll
stack_Data/Managed/Assembly-CSharp.pdb
stack_Data/Managed/Mono.Posix.dll
stack_Data/Managed/Mono.Security.dll
stack_Data/Managed/mscorlib.dll
stack_Data/Managed/Newtonsoft.Json.dll
stack_Data/Managed/System.Configuration.dll
stack_Data/Managed/System.Core.dll
stack_Data/Managed/System.Data.dll
stack_Data/Managed/System.dll
stack_Data/Managed/System.EnterpriseServices.dll
stack_Data/Managed/System.Numerics.dll
stack_Data/Managed/System.Runtime.Serialization.dll
stack_Data/Managed/System.Security.dll
stack_Data/Managed/System.ServiceModel.Internals.dll
stack_Data/Managed/System.Transactions.dll
stack_Data/Managed/System.Xml.dll
stack_Data/Managed/System.Xml.Linq.dll
stack_Data/Managed/Unity.TextMeshPro.dll
stack_Data/Managed/Unity.TextMeshPro.pdb
stack_Data/Managed/Unity.Timeline.dll
stack_Data/Managed/Unity.Timeline.pdb
stack_Data/Managed/UnityEngine.AccessibilityModule.dll
stack_Data/Managed/UnityEngine.AIModule.dll
stack_Data/Managed/UnityEngine.AndroidJNIModule.dll
stack_Data/Managed/UnityEngine.AnimationModule.dll
stack_Data/Managed/UnityEngine.ARModule.dll
stack_Data/Managed/UnityEngine.AssetBundleModule.dll
stack_Data/Managed/UnityEngine.AudioModule.dll
stack_Data/Managed/UnityEngine.ClothModule.dll
stack_Data/Managed/UnityEngine.ClusterInputModule.dll
stack_Data/Managed/UnityEngine.ClusterRendererModule.dll
stack_Data/Managed/UnityEngine.CoreModule.dll
stack_Data/Managed/UnityEngine.CrashReportingModule.dll
stack_Data/Managed/UnityEngine.DirectorModule.dll
stack_Data/Managed/UnityEngine.dll
stack_Data/Managed/UnityEngine.DSPGraphModule.dll
stack_Data/Managed/UnityEngine.GameCenterModule.dll
stack_Data/Managed/UnityEngine.GridModule.dll
stack_Data/Managed/UnityEngine.HotReloadModule.dll
stack_Data/Managed/UnityEngine.ImageConversionModule.dll
stack_Data/Managed/UnityEngine.IMGUIModule.dll
stack_Data/Managed/UnityEngine.InputLegacyModule.dll
stack_Data/Managed/UnityEngine.InputModule.dll
stack_Data/Managed/UnityEngine.JSONSerializeModule.dll
stack_Data/Managed/UnityEngine.LocalizationModule.dll
stack_Data/Managed/UnityEngine.ParticleSystemModule.dll
stack_Data/Managed/UnityEngine.PerformanceReportingModule.dll
stack_Data/Managed/UnityEngine.Physics2DModule.dll
stack_Data/Managed/UnityEngine.PhysicsModule.dll
stack_Data/Managed/UnityEngine.ProfilerModule.dll
stack_Data/Managed/UnityEngine.ScreenCaptureModule.dll
stack_Data/Managed/UnityEngine.SharedInternalsModule.dll
stack_Data/Managed/UnityEngine.SpriteMaskModule.dll
stack_Data/Managed/UnityEngine.SpriteShapeModule.dll
stack_Data/Managed/UnityEngine.StreamingModule.dll
stack_Data/Managed/UnityEngine.SubstanceModule.dll
stack_Data/Managed/UnityEngine.SubsystemsModule.dll
stack_Data/Managed/UnityEngine.TerrainModule.dll
stack_Data/Managed/UnityEngine.TerrainPhysicsModule.dll
stack_Data/Managed/UnityEngine.TextCoreModule.dll
stack_Data/Managed/UnityEngine.TextRenderingModule.dll
stack_Data/Managed/UnityEngine.TilemapModule.dll
stack_Data/Managed/UnityEngine.TLSModule.dll
stack_Data/Managed/UnityEngine.UI.dll
stack_Data/Managed/UnityEngine.UI.pdb
stack_Data/Managed/UnityEngine.UIElementsModule.dll
stack_Data/Managed/UnityEngine.UIModule.dll
stack_Data/Managed/UnityEngine.UmbraModule.dll
stack_Data/Managed/UnityEngine.UNETModule.dll
stack_Data/Managed/UnityEngine.UnityAnalyticsModule.dll
stack_Data/Managed/UnityEngine.UnityConnectModule.dll
stack_Data/Managed/UnityEngine.UnityTestProtocolModule.dll
stack_Data/Managed/UnityEngine.UnityWebRequestAssetBundleModule.dll
stack_Data/Managed/UnityEngine.UnityWebRequestAudioModule.dll
stack_Data/Managed/UnityEngine.UnityWebRequestModule.dll
stack_Data/Managed/UnityEngine.UnityWebRequestTextureModule.dll
stack_Data/Managed/UnityEngine.UnityWebRequestWWWModule.dll
stack_Data/Managed/UnityEngine.VehiclesModule.dll
stack_Data/Managed/UnityEngine.VFXModule.dll
stack_Data/Managed/UnityEngine.VideoModule.dll
stack_Data/Managed/UnityEngine.VRModule.dll
stack_Data/Managed/UnityEngine.WindModule.dll
stack_Data/Managed/UnityEngine.XRModule.dll
stack_Data/Managed/websocket-sharp.dll
stack_Data/Resources/unity default resources
stack_Data/Resources/unity_builtin_extra
